<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> <%=  title %></title>

    <% include partials/head.ejs %>

</head>

<body  >
    <% include partials/navigation.ejs %>
    
        <header class="row">
            <div class="col-lg-12 text-center">
                <img src="/img/img4.png" alt="Pews logo"class="animated bounceInLeft ">
            </div>
        </header>
        <div class="container-fluid" id="about">
            <div class="row bg-dark text-white p-5 text-center">
                <div class="col-sm-6">
                        <img src="/img/1.png" alt="Pwes img"class="animated rotateIn ">
                </div>
                <div class="col-sm-6">
                        <h3  class="animated wobble ">  the most sucribed YOTUBER</h3>
                        <p class="animated flash ">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ab odit amet voluptatum, deserunt cumque itaque quisquam eveniet magnam rerum autem distinctio, temporibus natus, quis similique repudiandae ipsa dignissimos qui et.</p>
                        <p> Un videojuego es un juego electrónico en el que una o más personas interactúan, por medio de un controlador, con un dispositivo que muestra imágenes de video.1​ Este dispositivo electrónico, conocido genéricamente como «plataforma», puede ser una computadora, una máquina arcade, una videoconsola o un dispositivo portátil, como por ejemplo un teléfono móvil. Los videojuegos son, año por año, una de las principales industrias del arte y el entretenimiento.</p>
                </div>
              
            </div>
    
        </div>


        <% include partials/footer.ejs %>
</body>

</html>